# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db
.env

# VSCode
.vscode/

# Logs
*.log

# mypy / pytest / coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Docker
*.pid
*.tar

# Virtualenv
.venv/
env/
venv/
